@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root{
    --color-white: #fff;
    --color-black: #141d28;
    --color-primary: #E98F37;
    --color-secondary: #B6B6B6;
    --color-figure: #50bd77;
    --color-darkblue: #1A2D4E;
    --color-purple: #9396C3;
    --color-darkpurple: #1F1E3A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* Section Main starts Here */
.menu_bar{
    background-color: var(--color-darkblue);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo{
    color: var(--color-white);
    font-size: 30px;
}

.menu_bar .active li a{
    color: var(--color-primary);
}

.logo span{
    color: var(--color-primary);
}

.menu_bar ul{
    list-style: none;
    display: flex;
}

.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s;
}

.menu_bar ul li a:hover{
    color: var(--color-primary);
}

.dropdown_menu1 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu1{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-darkblue);
    transition: all 0.5s;
}

.menu_bar ul li:hover .dropdown_menu1 ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu1 ul li{
    width: 170px;
    padding: 10px;
}

.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
.dropdown_menu2{
    display: none;
}

.dropdown_menu1 ul li:hover .dropdown_menu2{
    display: block;
    position: absolute;
    top: 0;
    left: 170px;
    background-color: var(--color-darkblue);
}

.dropdown_menu3{
    display: none;
}

.dropdown_menu1 ul li:hover .dropdown_menu3{
    display: block;
    position: absolute;
    top: 0;
    left: 170px;
    background-color: var(--color-darkblue);
}

.dropdown_menu4{
    display: none;
}

.dropdown_menu1 ul li:hover .dropdown_menu4{
    display: block;
    position: absolute;
    top: 0;
    left: 170px;
    background-color: var(--color-darkblue);
}

.dropdown_menu5 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu5{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-darkblue);
    transition: all 0.5s;
}

.menu_bar ul li:hover .dropdown_menu5 ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu5 ul li{
    width: 170px;
    padding: 10px;
}

.dropdown_menu6{
    display: none;
}

.dropdown_menu5 ul li:hover .dropdown_menu6{
    display: block;
    position: absolute;
    top: 0;
    left: 170px;
    background-color: var(--color-darkblue);
}

.dropdown_menu7 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu7{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-darkblue);
    transition: all 0.5s;
}

.menu_bar ul li:hover .dropdown_menu7 ul{
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu7 ul li{
    width: 170px;
    padding: 10px;
}

.dropdown_menu7 ul li:hover .dropdown_menu6{
    display: block;
    position: absolute;
    top: 0;
    left: 170px;
    background-color: var(--color-darkblue);
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{
    width: 100%;
    height: 100vh;
    /* animation: zoom 5s linear infinite; */
}

/* @keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
} */

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.content{
    width: 60%;
    margin: 210px auto 0;
    text-align: center;
    color: var(--color-white);
}

.content h1{
    font-size: 60px;
}

.content h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}

.content_btn button a{
    text-decoration: none;
    color: var(--color-white);
}

.content_btn button{
    font-family: 'Poppins', sans-serif;
    width: 250px;
    padding: 15px 20px;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    font-weight: 100;
    border: none;
    background: var(--color-darkblue);
    color: var(--color-white);
    cursor: pointer;
    transition: background 0.5s;
}

button:hover{
    background: var(--color-primary);
}

/* Section Main ends Here */

.main2{
    justify-content: center;
    padding-left: 50px;
    padding-top: 4%;
    display: flex;
    height: 85vh;
    width: 100%;
    background-color: var(--color-secondary);
}

.main2_info{
    text-align: center;
    font-size: larger;
    background: var(--color-darkblue);
    color: var(--color-white);
    padding: 10px;
}

.main2_info i{
    margin-left: 15px;
}

.main2 .courses{
    background: var(--color-white);
    padding: 40px;
    height: 540px;
    width: 300px;
    border-radius: 7px;
    box-shadow: 0 0 50px 10px rgb(0 0 0 / 7%);
}

.main2 .courses .mec_fig{
    color: var(--color-figure);
    font-size: 72px;
}

.main2 .courses .mec{
    color: var(--color-figure);
    font-weight: 100;
    font-size: 25px;
}

.main2 .courses .mec span{
    font-size: 17px;
    color: var(--color-black);
}

.main2 .courses .mec_link{
    margin-top: 30px;
}

.main2 .courses .mec_link a{
    padding: 8px;
    background: var(--color-darkblue);
    font-size: 15px;
    color: var(--color-white);
}


.main2 .courses_dark{
    margin: 70px 40px;
    background: var(--color-darkblue);
    padding: 40px;
    height: 540px;
    width: 300px;
    border-radius: 7px;
    box-shadow: 0 0 50px 10px rgb(0 0 0 / 7%);
}

.main2 .courses_dark .cv_fig{
    color: var(--color-figure);
    font-size: 55px;
}

.main2 .courses_dark .cv{
    color: var(--color-figure);
    font-weight: 100;
    font-size: 25px;
}

.main2 .courses_dark .cv span{
    font-size: 17px;
    color: var(--color-white);
}

.main2 .courses_dark .cv_link{
    margin-top: 30px;
}

.main2 .courses_dark .cv_link a{
    padding: 8px;
    background: var(--color-white);
    font-size: 15px;
    color: var(--color-black);
}

.main3_info{
    text-align: center;
    font-size: larger;
    background: var(--color-darkblue);
    color: var(--color-white);
    padding: 10px;
}

.main3{
    width: 100%;
    height: 50vh;
    background: var(--color-darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main3 .person1{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background: var(--color-darkblue);
}

.main3 .person1 i{
    margin: 20px;
    color: var(--color-white);
    font-size: 78px;
}

.main3 .person1 h1{
    color: var(--color-white);
    font-size: 58px;
}

.main3 .person1 p{
    color: var(--color-white);
    font-size: 30px;
}

.top_foot{
    background: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0 0;
}

.top_foot h1{
    font-size: 45px;
    color: var(--color-darkblue);
}

.top_foot p{
    font-size: 20px;
    color: var(--color-darkblue);
}

.foot_cointainer{
    height: 30vh;
    background: var(--color-secondary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foot_cointainer .con1{
    width: 300px;
    background: var(--color-secondary);
}

.foot_cointainer .con1 p{
    font-size: 15px;
    color: var(--color-darkblue);
    margin: 20px 0;
}

.foot_cointainer .con1 .con1_icons{
    display: flex;
    align-items: center;
}

.foot_cointainer .con1 .con1_icons i{
    color: var(--color-darkblue);
    font-size: 30px;
    background: var(--color-white);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.foot_cointainer .con1 .con1_icons i:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

.foot_cointainer .con2{
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.foot_cointainer .con2 h4{
    color: var(--color-darkblue);
}

.foot_cointainer .con2 p{
    color: var(--color-darkblue);
    cursor: pointer;
    line-height: 27px;
}

.foot_cointainer .con2 p:hover{
    color: var(--color-primary);
}

.foot_cointainer .con3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.foot_cointainer .con3 h4{
    color: var(--color-darkblue);
}

.foot_cointainer .con3 p{
    color: var(--color-darkblue);
    cursor: pointer;
    line-height: 27px;
}

.foot_cointainer .con3 p:hover{
    color: var(--color-primary);
}


.foot_cointainer .con4{
    width: 450px;
    margin-left: 40px;
}

.foot_cointainer .con4 p{
    color: var(--color-darkblue);
    line-height: 27px;
}

.foot_cointainer .con4 p:hover{
    color: var(--color-primary);
}

.con4_contact{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.con4_contact input{
    border: none;
    padding: 10px;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    font-size: 15px;
}

.con4_contact button{
    font-family: 'Poppins', sans-serif;
    padding: 8px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: 100;
    border: none;
    background: var(--color-darkblue);
    color: var(--color-white);
    cursor: pointer;
}

.con4_contact button:hover{
    background: var(--color-primary);
}